@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard-dynamic-subset.css");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    
  // iOS 17 Color Palette
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #8e8e93;
  --color-grey-2: #636366;
  --color-grey-3: #48484a;
  --color-grey-4: #3a3a3c;
  --color-grey-5: #2c2c2e;
  --color-grey-6: #1c1c1e;
  --color-red: #ff453a;
  --color-orange: #ff9f0a;
  --color-yellow: #ffcc00;
  --color-green: #34c759;
  --color-mint: #00c7be;
  --color-teal: #30b0c7;
  --color-cyan: #32ade6;
  --color-blue: #007aff;
  --color-indigo: #5856d6;
  --color-purple: #af52de;
  --color-pink: #ff2d55;
  --color-brown: #a2845e;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  cursor: pointer;
}

input[type='number'] {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
}
