@import './abstracts//theme';
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard-dynamic-subset.css');

*,
*::before,
*::after {
  box-sizing: border-box; /* 모든 요소의 박스 크기 계산 기준을 변경합니다. */
}

html {
  font-size: calc(12px + 0.390625vw);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; /* 모든 요소의 마진을 제거합니다. */
  padding: 0; /* 모든 요소의 패딩을 제거합니다. */

  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue',
    'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;
}

ol,
ul {
  list-style: none; /* 모든 리스트 스타일을 제거합니다. */
}

img {
  display: block; /* 이미지가 inline 요소의 공백을 생성하지 않도록 합니다. */
  max-width: 100%; /* 모든 이미지가 부모 요소를 넘지 않도록 설정합니다. */
}

table {
  border-collapse: collapse; /* 테이블의 보더 스타일을 합칩니다. */
}

a {
  color: inherit; /* 링크 색상을 부모 요소와 동일하게 설정합니다. */
  text-decoration: none; /* 모든 링크의 밑줄을 제거합니다. */
  cursor: pointer;
}

button {
  padding: 0; /* 버튼의 기본 패딩을 제거합니다. */
  background: none; /* 버튼의 기본 배경을 제거합니다. */
  border: none; /* 버튼의 기본 테두리를 제거합니다. */
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit; /* 폼 요소의 폰트를 부모 요소와 동일하게 설정합니다. */
}

input[type='number'] {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
}

textarea {
  resize: vertical; /* 텍스트 에어리어의 리사이즈를 수직으로만 가능하게 설정합니다. */
}
