@import './globals.scss';

@import './abstracts/minxins';
@import './abstracts/variables';

@import './layout/footer';
@import './layout/header';
@import './layout/navigation';

@import './components/index.scss';

.home-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  svg {
    transform: rotate(360deg);
    cursor: grab;
    animation: rotate 6s linear infinite;
    text {
      font-weight: 700;
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .weezip-line {
    position: absolute;
    top: 30px;
    width: 100vw;
    padding: 6px;
    overflow: hidden;
    font-weight: 500;
    text-decoration: none;
    background-color: #e5e5e5;
    cursor: pointer;
    &:hover {
      color: #0f4c75;
    }
    .text-box {
      font-size: 15pt;
      white-space: nowrap;
      animation: marquee 20s linear infinite;
      animation-fill-mode: both;
      span + span {
        margin-left: 24px;
      }
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}
